[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "~=2.2.2"
pydantic = {extras = ["dotenv"], version = "~=1.10.2"}

[dev-packages]
pytest = "~=6.2.2"
pre-commit = "~=2.20.0"
flake8-annotations = "~=2.9.1"
flake8-quotes = "~=3.3.1"
flake8 = "~=5.0.4"
autopep8 = "~=1.7.0"
isort = "~=5.11.5"
mypy = "~=0.982"

[requires]
python_version = "3.9"
python_full_version = "3.9.19"

